div.container,
div.body {
  max-width: 900px;
  display: block;
  margin: auto;
}
@media (max-width: 500px) {
  div.grid-cell {
    width: 225px;
    display: inline-block;
    margin: 10px 0px;
    padding-left: 25px;
  }
}
@media (min-width: 500px) {
  div.grid-cell {
    width: 225px;
    display: inline-block;
    margin: 14px 0px;
  }
}
img.img-item {
  display: block;
  margin: 20px auto;
  max-width: 900px;
}
.hover-pointer:hover {
  cursor: pointer;
}
.hover-red:hover {
  color: #ff0000;
}
@media (max-width: 500px) {
  div.header {
    position: relative;
    margin-bottom: 10px;
  }
}
@media (min-width: 500px) {
  div.header {
    position: relative;
    top: -30px;
    margin-bottom: 16px;
  }
}
.home-link:hover,
.link:hover {
  cursor: pointer;
}
div.body {
  min-height: 300px;
}
@media (max-width: 500px) {
  div.backgroundImg {
    position: relative;
    width: 100%;
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img.backgroundImg {
    height: 25%;
    display: block;
  }
}
@media (min-width: 500px) {
  div.backgroundImg {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: -1;
  }
  img.backgroundImg {
    opacity: .15;
    display: block;
    margin: auto;
    max-height: 550px;
    max-width: 650px;
  }
}
a.channel {
  font-family: gt-fine-book;
  font-size: 14px;
  text-decoration: underline;
  color: #333333;
}
a.channel:hover {
  color: #ff0000;
}
div.project-navigator {
  font-family: gt-display-bold;
  font-size: 15px;
  color: #333333;
  text-align: center;
  margin-top: 30px;
}
div.loader {
  background-image: url('/imgs/loader-v2-80.gif');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 1000;
  height: 80%;
  width: 100%;
}
@media (min-width: 500px) {
  div.footer {
    bottom: 0px;
    max-width: 900px;
    margin: auto;
  }
}
@media (max-width: 500px) {
  div.footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
    border-top: 1px solid rgba(193, 193, 193, 0.58);
    padding: 10px;
    padding-left: 30px;
    left: 0px;
  }
}
.footer-link {
  margin: 0px 5px;
  text-decoration: underline;
}
.footer-link:hover {
  color: #ff0000;
  cursor: pointer;
}
@font-face {
  font-family: gt-display-bold;
  src: url(../fonts/gt-display-bold/GT-Sectra-Display-Bold.ttf);
}
@font-face {
  font-family: gt-fine-book;
  src: url(../fonts/gt-fine-book/GT-Sectra-Fine-Book.ttf);
}
@font-face {
  font-family: gt-pressura-light;
  src: url(../fonts/gt-pressura-light/GT-Pressura-Light.ttf);
}
.gt-sectra-display-15 {
  font-family: gt-display-bold;
  font-size: 15px;
}
.gt-sectra-fine-15 {
  font-family: gt-fine-book;
  font-size: 15px;
}
.gt-sectra-fine-14 {
  font-family: gt-fine-book;
  font-size: 14px;
}
.gt-sectra-fine-13 {
  font-family: gt-fine-book;
  font-size: 13px;
}
.gt-pressura-13 {
  font-family: gt-pressura-light;
  font-size: 13px;
}
