div.container {
    max-width: 900px;
    display: block;
    margin: auto;
}

div.grid-cell {
    width: 225px;
    display: inline-block;
    margin: 20px 0px;
}

img.img-item {
    display: block;
    margin: 20px auto;
    max-width: 900px;
}

.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

.hover-red {
    &:hover {
        color: #ff0000;
    }
}