@import 'common.less';

@media(max-width: 500px) {
	div.header:extend(div.container) {
	    position: relative;
	    margin-bottom: 10px;
	}
}

@media(min-width: 500px) {
	div.header:extend(div.container) {
	    position: relative;
	    top: -30px;
	    margin-bottom: 16px;
	}
}

.home-link, .link {
	&:hover {
		cursor: pointer;
	}
}

.grey {
	color: #c9c9c9;
}